<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
<!-- 数据库连接文件 -->
<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="connection.url">jdbc:mysql://localhost:3306/db_hibernate</property>
<property name="connection.username">root</property>
<property name="connection.password">775297</property>
<!-- 数据库连接池 -->
<property name="connection.pool_size">1</property>
<!-- sql方言 -->
<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
<!-- session环境 -->
<property name="current_session_context_class">thread</property>
<!-- 打印sql语句 -->
<property name="show_sql">true</property>
<!-- 格式化SQL语句 -->
<property name="format_sql">true</property>
<!-- 加载配置文件 -->
<mapping resource="com/zdsofe/hibernate/Student.hbm.xml"/>
</session-factory>
</hibernate-configuration>	
	